<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Benefits 2 Columns Center Images</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
	   
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    	<!-- BENEFITS 2COLUMNS CENTER IMG BLOCK -->
		<section id="benefits-2col-center-img" class="bg-color3">
			<div class="container">		
				<div class="row">
					<div class="col-md-4 col-md-push-4 text-center">
						<img class="screen" src="images/screen-3.png" width="300" alt=""/> 
					</div>
					<div class="col-md-4 col-md-pull-4">
						<ul class="item-list-right">
							<li>
								<img class="img-icon" src="images/feature3.png" alt=""/>
								<h3>Pure &amp; Simple</h3>
								<p>No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
							</li>
							<li>
								<img class="img-icon" src="images/feature4.png" alt=""/>
								<h3>Documentation</h3>
								<p>The detailed documentation will help you in adjusting the project with little effort according to your requirements.</p>
							</li>
							<li>
								<img class="img-icon" src="images/feature2.png" alt=""/>
								<h3>PSD Is Included </h3>
								<p>The graphic source file in PSD format is included in the archive.</p>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="item-list-left">
							<li>
								<img class="img-icon" src="images/feature5.png" alt=""/>
								<h3>Color Schemes</h3>
								<p>The set of ready made CSS files with different color schemes will help you in quick landing’s adaptation according to your benchmark style.</p>
							</li>
							<li>
								<img class="img-icon" src="images/feature6.png" alt=""/>
								<h3>Multiplatform</h3>
								<p>The page is adapted to the most of the popular platform in segment.</p>
							</li>
							<li>
								<img class="img-icon" src="images/feature1.png" alt=""/>
								<h3>Fully Responsive</h3>
								<p>Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
