<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clients Slider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
	   
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    	<!-- CLIENTS SLIDER BLOCK -->
		<section id="clients-slider" class="clients-block text-center">				
			<div id="carousel-logo" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
				  
					<div class="item active">
					 	<div class="container">
							<div class="row">
								<div class="col-sm-3">
									<img src="images/clients/logo1.png" alt="logo"/>
								</div>
								<div class="col-sm-3">
									<img src="images/clients/logo2.png" alt="logo"/>
								</div>
								<div class="col-sm-3">
									<img src="images/clients/logo3.png" alt="logo"/>
								</div>
								<div class="col-sm-3">
									<img src="images/clients/logo4.png" alt="logo"/>
								</div>
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="container">
							<div class="row">
								<div class="col-sm-3">
									<img src="images/clients/logo5.png" alt="logo"/>
								</div>
								<div class="col-sm-3">
									<img src="images/clients/logo6.png" alt="logo"/>
								</div>
								<div class="col-sm-3">
									<img src="images/clients/logo7.png" alt="logo"/>
								</div>
								<div class="col-sm-3">
									<img src="images/clients/logo3.png" alt="logo"/>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-logo" role="button" data-slide="prev">
					<span class="arrow"></span>
				</a>
				<a class="right carousel-control" href="#carousel-logo" role="button" data-slide="next">
					<span class="arrow"></span>
				</a>
			</div>
		</section>
		 
    </div><!-- /#wrap -->


    <!-- JavaScript -->	
	<script src="scripts/jquery-1.11.2.min.js"></script> 
	<script src="scripts/bootstrap.min.js"></script> 
	
</body>
</html>
