<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Content 4 Columns</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-Equiv="Cache-Control" Content="cache">
<meta http-Equiv="Pragma" Content="cache">
<meta http-Equiv="Expires" Content="1000">

<!-- Loading Bootstrap Styles -->
<link href="css/bootstrap.css" rel="stylesheet">

<!-- Loading Elements Styles -->
<link href="css/style.css" rel="stylesheet">

<!-- Loading Font Styles -->
<link href="css/iconfont-style.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap"> 
	
	<!-- CONTENT 4 COL BLOCK-->
	<section id="content-4col" class="dark-bg bg-color1">
		<div class="container">
			<div class="row">
				<div class="col-md-3"> <img src="images/blog/post-img-1.jpg" alt="" class="screen"/>
					<h3>Fully Responsive</h3>
					<p class="desc-text">Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.</p>
					<a class="btn btn-default" href="#"><i class="icon icon-screen-desktop"></i> Try Now!</a>
				</div>
				<div class="col-md-3"> <img src="images/blog/post-img-2.jpg" alt="" class="screen"/>
					<h3>Pure &amp; Simple</h3>
					<p class="desc-text">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
					<a class="btn btn-default" href="#"><i class="icon icon-screen-desktop"></i> Try Now!</a>
				</div>
				<div class="col-md-3"> <img src="images/blog/post-img-3.jpg" alt="" class="screen"/>
					<h3>Color Schemes</h3>
					<p class="desc-text">The set of ready made CSS files with different color schemes will help you in quick landing’s adaptation according to your benchmark style.</p>
					<a class="btn btn-default" href="#"><i class="icon icon-screen-desktop"></i> Try Now!</a>
				</div>
				<div class="col-md-3"> <img src="images/blog/post-img-4.jpg" alt="" class="screen"/>
					<h3>Documentation</h3>
					<p class="desc-text">The detailed documentation will help you in adjusting the project with little effort according to your requirements.</p>
					<a class="btn btn-default" href="#"><i class="icon icon-screen-desktop"></i> Try Now!</a>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- /#wrap -->

</body>
</html>
