<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Content Full Right</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
	   
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    	<!-- CONTENT FULL RIGHT BLOCK -->
		<section id="content-full-right" class="bg-color1 dark-bg fixed-bg" style="background-image:url(images/bg2.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-8 col-md-5 col-md-offset-7">
						<i class="big-icon icon icon-chat sep-bottom"></i>
						<h2 class="title">Online Support</h2>
						<p>In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. </p>
					</div>
				</div>	
			</div>
		</section>
    
    </div><!-- /#wrap -->
	
</body>
</html>
