<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Content 4 Columns Full</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-Equiv="Cache-Control" Content="cache">
<meta http-Equiv="Pragma" Content="cache">
<meta http-Equiv="Expires" Content="1000">

<!-- Loading Bootstrap Styles -->
<link href="css/bootstrap.css" rel="stylesheet">

<!-- Loading Elements Styles -->
<link href="css/style.css" rel="stylesheet">

<!-- Loading Font Styles -->
<link href="css/iconfont-style.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap"> 
	
	<!-- CONTENT 4 COL FULL BLOCK-->
	<section id="content-4col-full" class="types-block no-sep">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 cover-bg" style="background-image: url(images/gym-1.jpg);">
					<div class="content">
						<h3><b>YOGA</b></h3>
						<p class="desc-text">Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.</p>
					</div>
				</div>
				<div class="col-md-3 cover-bg dark-bg" style="background-image: url(images/gym-2.jpg);">
					<div class="content">
						<h3><b>FITNESS</b></h3>
						<p class="desc-text">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
					</div>
				</div>
				<div class="col-md-3 cover-bg" style="background-image: url(images/gym-3.jpg);">
					<div class="content">
						<h3><b>CYCLING</b></h3>
						<p class="desc-text">The set of ready made CSS files with different color schemes will help you in quick landing’s adaptation according to your benchmark style.</p>
					</div>
				</div>
				<div class="col-md-3 cover-bg dark-bg" style="background-image: url(images/gym-4.jpg);">
					<div class="content">
						<h3><b>BOXING</b></h3>
						<p class="desc-text">The detailed documentation will help you in adjusting the project with little effort according to your requirements.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</div>
<!-- /#wrap -->

</body>
</html>
