<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Content Left App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
	   
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    	<!-- CONTENT LEFT APP BLOCK -->
		<section id="content-left-app" class="bg-color2 dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>Page Builder</h2>
						<h4 class="sub-title">Stunning flexibility</h4>
						<p>Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting. You project will not look like a template bought in a store and adapted within couple of hours. Oh, no! This is not your case. You obtain qualitative, fascinating and juicy final product that is modern and actual. Qualitative and flexible code lays in base of this great product.</p>
					</div>
					<div class="col-lg-4 col-md-5  col-lg-offset-2 col-md-offset-1">
						<img class="screen" src="images/screen-2.png" alt="screen"/> 
					</div>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
