<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Content Left</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
	   
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    	<!-- CONTENT LEFT BLOCK -->
		<section id="content-left" class="bg-color3">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-push-6">
						<img class="screen" src="images/bg14.jpg" alt="screen"/> 
					</div>
					<div class="col-md-5 col-md-pull-6">
						<h2>New Feature</h2>
						<h4 class="sub-title">Page Builder</h4>
						<p>So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message  your project’s trying to say.</p>
					</div>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
