<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Download Line</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- DOWNLOAD LINE BLOCK -->
		<section id="download-line" class="dark-bg bg-color1">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2 class="big-title zero-bottom"><b>Super Offer - $0.99!</b></h2>
					</div>
					<div class="col-md-3 text-right">
						<a class="btn btn-lg btn-default-white goto" href="#"><i class="icon icon-arrow-down"></i> Learn more</a>
					</div>
				</div>	
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
