<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Download Half App Image</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- DOWNLOAD HALF APP IMAGE BLOCK -->
		<section id="download-half-app-image">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<img src="images/screen-2.png" alt="" class="screen" />
					</div>
					<div class="col-md-7 col-md-offset-1">
						<h2 class="big-title">Super offer! <br><b>Just for $0.99!</b></h2>
						<p class="desc-text sep-bottom">* Follow us in social networks. You can also subscribe for our news.</p>
						<a class="download-btn" href="#"> <i class="icon icon-apple"></i>Download on the<b>App Store</b></a>
						<a class="download-btn" href="#"><i class="icon icon-android"></i>Get it on<b>Google play</b></a>
					</div>
				</div>	
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
