<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Download Center App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- DOWNLOAD CENTER APP BLOCK -->
		<section id="download-center-app" class="bg-color2 dark-bg text-center">
			<div class="container">
				<i class="icon big-icon center-icon icon-download sep-bottom"></i>
				<h2 class="big-title">Super offer! <br><b>Get all just for $0.99!</b></h2>
				<p class="sep-bottom desc-text">* Follow us in social networks. You can also subscribe for our news.</p>
				<a class="download-btn" href="#"> <i class="icon icon-apple"></i>Download on the<b>App Store</b></a>
				<a class="download-btn" href="#"><i class="icon icon-android"></i>Get it on<b>Google play</b></a>	
				<a class="download-btn" href="#"><i class="icon icon-windows8"></i>Download from <b>Windows Phone Store</b></a>
				<a class="download-btn" href="#"><i class="icon icon-screen-desktop"></i>Download<b>PC Version</b></a>	
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
