<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Footer GoTo Arrow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- GOTO ARROW BLOCK -->
		<section id="goto-arrow" class="bg-color2 dark-bg goto-block text-center">
			<div class="container"> 
				<a class="goto top-arrow" href="#"></a>
			</div>
		</section>
    
    </div><!-- /#wrap -->
	
	<!-- JavaScript --> 
	<script src="scripts/jquery-1.11.2.min.js"></script> 
	<script src="scripts/jquery.smooth-scroll.min.js"></script> 

</body>
</html>
