<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Intro Left 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">    
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    <!-- INTRO HALF LEFT BLOCK -->
	<header id="intro-2" class="intro-block bg-color1 dark-bg fixed-bg" style="background-image: url(images/bg26.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="slogan">
						<h1>Feel Free to</h1>
						<h2 class="giant-title"><b>Be in Web</b></h2>
						<p>No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
					</div>
					<a class="btn btn-lg btn-primary-white goto" href="#"> <i class="icon icon-badge"></i>Best features</a>
					<a class="btn btn-lg btn-default-white goto" href="#"> <i class="icon icon-clock"></i>Free trial</a>
				</div>
			</div>
		</div>
		<div class="container-half container-half-right contain-bg" style="background-image: url(images/intro-screen-server.png);"></div>
	</header>
    
    </div><!-- /#wrap -->

</body>
</html>
