<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Intro Center Subscribe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">    
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    <!-- INTRO CENTER SUBSCRIBE BLOCK -->
	<header id="intro-center-Subscribe" class="intro-block bg-color1 dark-bg text-center cover-bg double-padding" style="background-image:url(images/bg11.jpg)" >
		<div class="container">
			<div class="slogan">
				<h1 class="big-title">The Best Start<br><b>For Your Business</b></h1>
			</div>
			<form action="scripts/subscribe.php" method="post" id="subscribe_form">
				<div class="input-group">
					<input class="form-control" type="email" name="email" id="subscribe_email" placeholder="Enter your email">
					<div class="input-group-btn">
						<button type="submit" id="subscribe_submit" data-loading-text="&bull;&bull;&bull;"><i class="icon center-icon icon-envelope"></i></button>
					</div>
				</div>
			</form>
			<p>No fluff. Nothing should lead the visitor away from the main essence of website. <br>There must be just important information.</p>
		</div>
	</header>
    
    </div><!-- /#wrap -->
	
	<!-- JavaScript --> 
	<script src="scripts/jquery-1.11.2.min.js"></script> 
	<script src="scripts/bootstrap.min.js"></script> 
	<script src="scripts/jquery.validate.min.js"></script>
	<script src="scripts/placeholders.jquery.min.js"></script>
	<script>
		$('#subscribe_form').validate({
			onfocusout: false,
			onkeyup: false,
			rules: {
				email: {
					required: true,
					email: true
				}
			},
			errorPlacement: function(error, element) {
				error.appendTo( element.closest("form"));
			},
			messages: {
				email: {
					required: "We need your email address to contact you",
					email: "Please, enter a valid email"
				}
			},
						
			highlight: function(element) {
				$(element)
			},                    
						
			success: function(element) {
				element
				.text('').addClass('valid')
			}
		}); 
				
		$('#subscribe_form').submit(function() {
			$('.error').hide();
			$('.error').fadeIn();
			// submit the form
			if($(this).valid()){
				$('#subscribe_submit').button('loading'); 
				var action = $(this).attr('action');
				$.ajax({
					url: action,
					type: 'POST',
					data: {
						newsletter_email: $('#subscribe_email').val()
					},
					success: function(data) {
						$('#subscribe_submit').button('reset');
						
						//Use modal popups to display messages
						$('#modalMessage .modal-title').html('<i class="icon icon-envelope-open"></i>' + data);
						$('#modalMessage').modal('show');
						
					},
					error: function() {
						$('#subscribe_submit').button('reset');
						
						//Use modal popups to display messages
						$('#modalMessage .modal-title').html('<i class="icon icon-ban"></i>Oops!<br>Something went wrong!');
						$('#modalMessage').modal('show');
						
					}
				});
			}
			return false; 
		});
	</script>

</body>
</html>
