<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Intro Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- INTRO VIDEO -->
		<header id="intro-video" class="intro-block dark-bg cover-bg double-padding" style="background-image:url(images/bg18.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2 class="title">The happiest<br>
							<b class="text-uppercase">place on earth</b></h2>
						<p class="sep-bottom">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
						<a class="btn btn-lg btn-warning goto" href="#contact-full-2"><i class="icon icon-note"></i> Order Service</a></div>
					<div class="col-md-7">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/105587246?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
						</div>
					</div>
				</div>
			</div>
		</header>
    
    </div><!-- /#wrap -->

</body>
</html>
