<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Items 3 Columns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- ITEMS 3 COL BLOCK -->
		<section id="items-3col" class="bg-color3">
			<div class="container">
				<div class="row sep-bottom">
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-5.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Sunny villa</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$250,000</strong></p>
								<p><i class="icon icon-map"></i> 14 West Point, London </p>
								<p><i class="icon icon-home"></i> 3 Bed Rooms </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-10.jpg" alt="Look for the latest update in coming days" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Luxury apartments</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$310,000</strong></p>
								<p><i class="icon icon-map"></i> 8 West Point, London </p>
								<p><i class="icon icon-home"></i> 1 Bed Room </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-6.jpg" alt="The meeting of developers of cross-platform apps" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Central with garden</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$180,000</strong></p>
								<p><i class="icon icon-map"></i> 5 West Point, London </p>
								<p><i class="icon icon-home"></i> 2 Bed Rooms </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-7.jpg" alt="The meeting of developers of cross-platform apps" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Fabulous residence</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$875,000</strong></p>
								<p><i class="icon icon-map"></i> 114 West Point, London </p>
								<p><i class="icon icon-home"></i> 5 Bed Rooms </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-8.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Fishing lodge</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$250,000</strong></p>
								<p><i class="icon icon-map"></i> 54 West Point, London </p>
								<p><i class="icon icon-home"></i> 2 Bed Rooms </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-9.jpg" alt="Look for the latest update in coming days" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Downtown apartments</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$110,000</strong></p>
								<p><i class="icon icon-map"></i> 4 West Point, London </p>
								<p><i class="icon icon-home"></i> 1 Bed Room </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
