<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Map Full</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- MAP FULL BLOCK -->
		<section id="map-full" class="text-center bg-color1 dark-bg" >
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="title">Contact Us</h2>
						<p class="sep-bottom desc-text">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.</p>
						<div class="row sep-bottom">
							<div class="col-sm-4">
								<p><i class="icon icon-pointer"></i></p>
								<p>300 Boylstone Ave E, Seattle WA 98102<br>USA</p>
							</div>
							<div class="col-sm-4">
								<p><i class="icon icon-call-in"></i></p>
								<p>732-555-1428, 732-555-1430</p>
							</div>
							<div class="col-sm-4">
								<p><i class="icon icon-envelope-open"></i></p>
								<p>support@multifour.com</p>
							</div>
						</div>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101418.0024137826!2d-122.07938838781939!3d37.40608616286838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb07b9dba1c39%3A0xe1ff55235f576cf!2sPalo+Alto%2C+CA%2C+USA!5e0!3m2!1sen!2sua!4v1429695851173"></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->
	
</body>
</html>
