<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Map Half</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- MAP HALF BLOCK -->
		<section id="map-half" class="bg-color3">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101418.0024137826!2d-122.07938838781939!3d37.40608616286838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb07b9dba1c39%3A0xe1ff55235f576cf!2sPalo+Alto%2C+CA%2C+USA!5e0!3m2!1sen!2sua!4v1429695851173"></iframe>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-2">
						<h2>Contact Us</h2>
						<h4 class="sub-title">We'll answer you as soon as possible.</h4>
						<ul class="data-list">
							<li><i class="icon icon-pointer"></i>300 Boylstone Ave E<br>Seattle WA 98102<br>USA</li>
							<li><i class="icon icon-call-in"></i>732-555-1428<br>732-555-1430</li>
							<li><i class="icon icon-envelope-open"></i>support@multifour.com</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->
	
</body>
</html>
