<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Portfolio Grid 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
	
	<!-- Loading Magnific-Popup Styles --> 
    <link href="css/magnific-popup.css" rel="stylesheet"> 
	   
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
    	<!-- PORTFOLIO GRID 2 BLOCK -->
		<section id="portfolio-grid-2" class="portfolio-block dark-bg bg-color3 cover-bg" style="background-image:url(images/bg28.jpg)">
			<div class="container">
				<div class="row sep-bottom no-dev">
					<div class="col-sm-6">
						<h2>Gallery</h2>
					</div>
					<div class="col-sm-6 text-right">
						<p>In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.</p>
					</div>
				</div>
				<ul class="portfolio-list">
					<li> <a href="./images/screens/screen1.jpg" title="Description"><span class="editContent">Screen 1</span><img src="images/screens/screen1.jpg" alt=""></a> </li>
					<li> <a href="./images/screens/screen2.jpg" title="Description"><span class="editContent">Screen 2</span><img src="images/screens/screen2.jpg" alt=""></a> </li>
					<li> <a href="./images/screens/screen3.jpg" title="Description"><span class="editContent">Screen 3</span><img src="images/screens/screen3.jpg" alt=""></a> </li>
					<li> <a href="./images/screens/screen4.jpg" title="Description"><span class="editContent">Screen 4</span><img src="images/screens/screen4.jpg" alt=""></a> </li>
					<li> <a href="./images/screens/screen5.jpg" title="Description"><span class="editContent">Screen 5</span><img src="images/screens/screen5.jpg" alt=""></a> </li>
					<li> <a href="./images/screens/screen6.jpg" title="Description"><span class="editContent">Screen 6</span><img src="images/screens/screen6.jpg" alt=""></a> </li>
				</ul>
			</div>
		</section>
    
    </div><!-- /#wrap -->


    <!-- JavaScript -->	
	<script src="scripts/jquery-1.11.2.min.js"></script> 
	<script src="scripts/jquery.magnific-popup.min.js"></script> 
	<script>
	
		$(window).load(function() {
		"use strict";	
			$('.portfolio-list li').magnificPopup({
				delegate: 'a',
				type: 'image',
				gallery: {
					enabled: true
				}
			});
		})
		
	</script>
	
</body>
</html>
