<!DOCTYPE html><html><script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Your Landing Page Title</title>
    
    <!--pageMeta-->

    <!-- Loading Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet">
	
	<!-- Loading Magnific-Popup Styles --> 
    <link href="css/magnific-popup.css" rel="stylesheet"> 
	   
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	
	
	<!-- Favicons -->
	<link rel="icon" href="images/favicons/favicon.png">
	<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
    
    <!--headerIncludes-->
    
</head>
<body data-spy="scroll" data-target=".navMenuCollapse">
    
    <div id="wrap">
        
    <!-- NAVIGATION LOGIN -->
		<!-- INTRO CENTER -->
	<!-- PRICING TABLE 2COL IMAGE BLOCK -->
		<!-- ITEMS 3 COL BLOCK -->
		<!-- FOOTER CENTER -->
		<!-- NAVIGATION LOGIN -->
		<!-- INTRO CENTER -->
	<!-- PRICING TABLE 2COL IMAGE BLOCK -->
		<!-- ITEMS 3 COL BLOCK -->
		<!-- FOOTER CENTER -->
		<!-- NAVIGATION LOGIN -->
		<!-- INTRO CENTER -->
	<!-- PRICING TABLE 2COL IMAGE BLOCK -->
		<!-- ITEMS 3 COL BLOCK -->
		<!-- FOOTER CENTER -->
		<!-- NAVIGATION LOGIN -->
		<nav class="navbar bg-color1 dark-bg" style="outline-offset: -3px;">
			<div class="container"> 
				<a class="navbar-brand goto" href="#"><img src="./images/logo.png" height="25" alt="Your logo"></a>
				<button class="round-toggle navbar-toggle menu-collapse-btn collapsed" data-toggle="collapse" data-target=".navMenuCollapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<div class="collapse navbar-collapse navMenuCollapse">
					<div class="login-panel">
						<a class="btn btn-success" href="#"><i class="icon icon-key"></i> Login</a>
						<a class="btn btn-primary" href="#"><i class="icon icon-user"></i> Registrar</a>
					</div>
					<ul class="nav">
						<li><a href="#">Sobre</a></li>
						<li><a href="#">Produtos</a></li>
						<li><a href="#">Stories</a></li>
						<li><a href="#">Download</a></li>
					</ul>
				</div>
			</div>
		</nav><!-- INTRO CENTER -->
	<header id="intro-center" class="intro-block bg-color1 dark-bg fixed-bg double-padding text-center" style="outline-offset: -3px; background-image: url(http://localhost/Page%20Builder/elements/images/bg20.jpg);">
		<div class="container">
			<div class="slogan">
				<h1>Eye catching results</h1>
				<h2 class="giant-title"><b>Graphic Design</b></h2>
			</div>
			<a class="goto" href="#"><i class="icon big-icon icon-arrow-down"></i></a>
		</div>
	</header><!-- PRICING TABLE 2COL IMAGE BLOCK -->
		<section id="price-2col-image" class="bg-color1 text-center dark-bg">
			<div class="container">
				<h2 class="title">Choose your plan</h2>
				<p class="sep-bottom">In our work we try to use only the most modern, convenient and interesting solutions.<br>We want the template you downloaded look unique and new for such a long time as it is possible.</p>
				<div class="row">
					<div class="col-sm-6">
						<div class="pricing-table">
							<h4>Professional</h4>
							<img src="images/plan2.png" class="screen" alt="plan">
							<span class="clean">$5.99<small> / month</small></span>
							<p>We want the template you downloaded look unique and new for such a long time as it is possible. </p>
							<a href="#" target="_blank" class="btn btn-primary">Buy</a>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="pricing-table">
							<h4>Maximum</h4>
							<img src="images/plan3.png" class="screen" alt="plan">
							<span class="clean">$9.99<small> / month</small></span>
							<p>In our work we try to use only the most modern, convenient and interesting solutions.</p>
							<a href="#" target="_blank" class="btn btn-primary">Buy</a>
						</div>
					</div>		
				</div>
			</div>
		</section><!-- ITEMS 3 COL BLOCK -->
		<section id="items-3col" class="bg-color3" style="outline-offset: -3px;">
			<div class="container">
				<div class="row sep-bottom">
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-5.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Sunny villa</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$250,000</strong></p>
								<p><i class="icon icon-map"></i> 14 West Point, London </p>
								<p><i class="icon icon-home"></i> 3 Bed Rooms </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-10.jpg" alt="Look for the latest update in coming days" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Luxury apartments</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$310,000</strong></p>
								<p><i class="icon icon-map"></i> 8 West Point, London </p>
								<p><i class="icon icon-home"></i> 1 Bed Room </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-6.jpg" alt="The meeting of developers of cross-platform apps" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Central with garden</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$180,000</strong></p>
								<p><i class="icon icon-map"></i> 5 West Point, London </p>
								<p><i class="icon icon-home"></i> 2 Bed Rooms </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-7.jpg" alt="The meeting of developers of cross-platform apps" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Fabulous residence</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$875,000</strong></p>
								<p><i class="icon icon-map"></i> 114 West Point, London </p>
								<p><i class="icon icon-home"></i> 5 Bed Rooms </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-8.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Fishing lodge</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$250,000</strong></p>
								<p><i class="icon icon-map"></i> 54 West Point, London </p>
								<p><i class="icon icon-home"></i> 2 Bed Rooms </p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media"> <a href="#"><img src="images/blog/post-img-9.jpg" alt="Look for the latest update in coming days" class="img-responsive"></a> </div>
							<div class="post-content">
								<h4 class="title"><strong>Downtown apartments</strong></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful.​</div>
								<p><i class="icon icon-tag"></i> <strong>$110,000</strong></p>
								<p><i class="icon icon-map"></i> 4 West Point, London </p>
								<p><i class="icon icon-home"></i> 1 Bed Room </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- FOOTER CENTER -->
		<footer id="footer-center" class="text-center bg-color3">
			<div class="container"> 
				<ul class="soc-list sep-bottom">
					<li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-behance"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-googleplus2"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-linkedin2"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-instagram"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-pinterest"></i></a></li>
					<li><a href="#" target="_blank"><i class="icon icon-flickr"></i></a></li>
				</ul>
				<p class="editContent">© 2015 Select<br>Designed by <a href="http://multifour.com/" target="_blank">Multifour.com</a></p>
				<img style="margin-top:20px;" src="images/footer-logo.png" alt="">
			</div>
		</footer></div><!-- /#wrap -->
	

	<!-- MODALS BEGIN-->
	<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="modal-title">&nbsp;</h3>
			</div>
		</div>
	</div>
	<!-- MODALS END-->
	 

    <!-- JavaScript --> 
	<script src="scripts/jquery-1.11.2.min.js"></script> 
	<script src="scripts/bootstrap.min.js"></script> 
	<script src="scripts/jquery.validate.min.js"></script>
	<script src="scripts/smoothscroll.js"></script> 
	<script src="scripts/jquery.smooth-scroll.min.js"></script> 
	<script src="scripts/placeholders.jquery.min.js"></script> 
	<script src="scripts/jquery.magnific-popup.min.js"></script> 
	<script src="scripts/jquery.counterup.min.js"></script>
	<script src="scripts/waypoints.min.js"></script>
	<script src="scripts/video.js"></script>
	<script src="scripts/bigvideo.js"></script>
	<script src="scripts/custom.js"></script>
	
	


</body></html>