<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pricing Table 3 Columns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- PRICING TABLE 3COL BLOCK -->
		<section id="price-3col" class="text-center cover-bg" style="background-image:url(images/bg5.jpg)">
			<div class="container">
				<h2 class="title">Choose your plan</h2>
				<p class="sep-bottom">In our work we try to use only the most modern, convenient and interesting solutions.<br>We want the template you downloaded look unique and new for such a long time as it is possible.</p>
				<div class="row">
					<div class="col-sm-4">
						<div class="pricing-table">
							<h4 class="bg-color1 dark-bg">Standard</h4>
							<span class="dark-bg cover-bg" style="background-image:url(images/pack-bg.png)">$0.99<small> / month</small> </span>
							<ul class="benefits-list">
								<li><b>Fully</b> Responsive</li>
								<li><b>Page</b> Builder</li>
								<li class="not"><b>40+</b> Shortcodes</li>
								<li class="not"><b>20</b> Demo pages</li>
								<li class="not"><b>300+</b> Line Icons</li>
							</ul>
							<a href="#" target="_blank" class="btn btn-primary">Buy</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pricing-table">
							<div class="stamp editContent"><i class="icon icon-badge"></i>Best Choice</div>
							<h4 class="bg-color1 dark-bg">Professional</h4>
							<span class="dark-bg cover-bg" style="background-image:url(images/pack-bg.png)">$5.99<small> / month</small> </span>
							<ul class="benefits-list">
								<li><b>Fully</b> Responsive</li>
								<li><b>Page</b> Builder</li>
								<li><b>40+</b> Shortcodes</li>
								<li><b>20</b> Demo pages</li>
								<li class="not"><b>300+</b> Line Icons</li>
							</ul>
							<a href="#" target="_blank" class="btn btn-primary">Buy</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="pricing-table">
							<h4 class="bg-color1 dark-bg">Maximum</h4>
							<span class="dark-bg cover-bg" style="background-image:url(images/pack-bg.png)">$9.99<small> / month</small> </span>
							<ul class="benefits-list">
								<li><b>Fully</b> Responsive</li>
								<li><b>Page</b> Builder</li>
								<li><b>40+</b> Shortcodes</li>
								<li><b>20</b> Demo pages</li>
								<li><b>300+</b> Line Icons</li>
							</ul>
							<a href="#" target="_blank" class="btn btn-primary">Buy</a>
						</div>
					</div>		
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
