<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recent Posts 3 Columns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- RECENT POSTS 3 COL BLOCK -->
		<section id="blog-3col">
			<div class="container">
				<h2 class="title text-center">Recent posts</h2>
				
				<div class="row">
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media">
								<a href="#"><img src="images/blog/post-img-1.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"/></a>
							</div>
							<div class="post-content">
								<h4 class="title"><a href="#">Resolving synchronization issue.</a></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look<a href="#" class="read-more" title="read more">&bull;&bull;&bull;</a></div>
								<div class="post-info">
									<div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
									<div class="author"><i class="icon icon-user"></i>John Doe</div>
									<div class="comments"><i class="icon icon-bubble"></i>7 Comments</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media">
								<a href="#"><img src="images/blog/post-img-2.jpg" alt="Look for the latest update in coming days" class="img-responsive"/></a>
							</div>
							<div class="post-content">
								<h4 class="title"><a href="#">Look for the latest update in coming days.</a></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look<a href="#" class="read-more" title="read more">&bull;&bull;&bull;</a></div>
								<div class="post-info">
									<div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
									<div class="author"><i class="icon icon-user"></i>John Doe</div>
									<div class="comments"><i class="icon icon-bubble"></i>7 Comments</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="post">
							<div class="post-media">
								<a href="#"><img src="images/blog/post-img-3.jpg" alt="The meeting of developers of cross-platform apps" class="img-responsive"/></a>
							</div>
							<div class="post-content">
								<h4 class="title"><a href="#">The meeting of developers of cross-platform apps.</a></h4>
								<div class="post-desc">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look<a href="#" class="read-more" title="read more">&bull;&bull;&bull;</a></div>
								<div class="post-info">
									<div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
									<div class="author"><i class="icon icon-user"></i>John Doe</div>
									<div class="comments"><i class="icon icon-bubble"></i>7 Comments</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
