<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Single Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- SINGLE POST BLOCK -->
		<section class="inner-page">
			<div class="container">
				<div class="row">
					<div class="col-md-8 single-post">
					
						<div class="post-media">
							<img src="images/blog/post-img-1.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"/>
						</div>
						<div class="post-content">
							<h2 class="title">Resolving synchronization issue.</h2>
							<div class="post-info">
								<div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
								<div class="author"><i class="icon icon-user"></i>John Doe</div>
							</div>
							<div class="post-desc">
								<p>You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look like.</p>
								<p>We could paste here the part of some article or couple of paragraphs from interesting book (that you have read for sure and may be even liked) or text in unfamiliar language ever. But we did not. We spent time on writing our own text, the text that you are reading now just like users will read your content in nearest future.</p>
								<p>Of course, this text is just a little thing, one of those smalls that create this product in whole. They are – each of them – are responsible for the fact whether this product would be great or ordinary. It is possible to raise the whole product up only through raising smalls on a new level. So, this is what we are busy now. We spend our time and attention exactly to these things.</p>
							</div>
						</div>
	
						<ul class="tags">
							<li><a href="#">Last update</a></li>
							<li><a href="#">Photo</a></li>
							<li><a href="#">Comming soon</a></li>
							<li><a href="#">Offers</a></li>
							<li><a href="#">New idea</a></li>
						</ul>				
					</div>
					
					
					<!-- SIDEBAR -->
					<aside class="col-md-3 col-md-offset-1 blog-sidebar">
						<div class="widget search">
							<form id="search_form">
								<div class="input-group">
									<input class="form-control" type="text" name="search" placeholder="Search " value="">
									<div class="input-group-btn">
										<button type="submit" class="icon-magnifier btn"></button>
									</div>
								</div>
							</form>
						</div>
						<div class="widget category">
							<h3>Category</h3>
							<ul>
								<li><a href="#">Updates</a></li>
								<li><a href="#">Company news</a></li>
								<li><a href="#">Fresh releases</a></li>
								<li><a href="#">Actions &amp; offers</a></li>
							</ul>
						</div>
						<div class="widget recent-posts">
							<h3>Recent posts</h3>
							<ul>
								<li> 
									<a href="#">The meeting of developers of cross-platform apps.</a>
									<div class="post-info">
										<div class="date">16-07-2014</div>
										<div class="comments"><i class="icon-bubble"></i> 7</div>
									</div>
								</li>
								<li> 
									<a href="#">The new functional sketches.</a> 
									<div class="post-info">
										<div class="date">16-07-2014</div>
										<div class="comments"><i class="icon-bubble"></i> 7</div>
									</div>
								</li>
								<li> 
									<a href="#">Resolving the issue with synchronization in old version.</a> 
									<div class="post-info">
										<div class="date">16-07-2014</div>
										<div class="comments"><i class="icon-bubble"></i> 7</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="widget tag_cloud">
							<h3>Tag cloud</h3>
							<ul class="tags">
								<li><a href="#">Last update</a></li>
								<li><a href="#">Photo</a></li>
								<li><a href="#">Comming soon</a></li>
								<li><a href="#">Offers</a></li>
								<li><a href="#">New idea</a></li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
