<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- TABLE BLOCK -->
		<section id="table" class="dark-bg bg-color1 fixed-bg" style="background-image:url(images/bg6.jpg)">
			<div class="container">
				<h2 class="title text-center">Table</h2>
				<p class="sep-bottom text-center desc-text" data-selector="Footer">In our work we try to use only the most modern, convenient and interesting solutions.<br>We want the template you downloaded look unique and new for such a long time as it is possible.</p>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Product</th>
								<th>Company</th>
								<th>Value 1</th>
								<th>Value 2</th>
								<th>Value 3</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Product One</td>
								<td>Company A</td>
								<td>10,000</td>
								<td>0.99</td>
								<td>657</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Product Two</td>
								<td>Company B</td>
								<td>8,000</td>
								<td>2.99</td>
								<td>211</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Product Three</td>
								<td>Company C</td>
								<td>6,500</td>
								<td>0.99</td>
								<td>402</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Product Four</td>
								<td>Company D</td>
								<td>5,000</td>
								<td>5.99</td>
								<td>988</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
