<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-Equiv="Cache-Control" Content="cache">
	<meta http-Equiv="Pragma" Content="cache">
	<meta http-Equiv="Expires" Content="1000">

    <!-- Loading Bootstrap Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	
    <!-- Loading Elements Styles -->   
    <link href="css/style.css" rel="stylesheet"> 
	
    <!-- Loading Font Styles -->
    <link href="css/iconfont-style.css" rel="stylesheet">
	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    
    <div id="wrap">
    
		<!-- TEAM BLOCK -->
		<section id="team" class="team-block">
			<div class="container">
				<h2 class="title text-center">Team</h2>
				<div class="row">
					<div class="col-sm-4">
						<img src="images/photo-team-1.jpg" class="screen" alt="Team 1" />
						<h3 class="name">John Doe</h3>
						<h4 class="occupation">Derector</h4>
						<p>No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
						<ul class="soc-list">
							<li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<img src="images/photo-team-2.jpg" class="screen" alt="Team 2" />
						<h3 class="name">Sarah Doe</h3>
						<h4 class="occupation">Manager</h4>
						<p>No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
						<ul class="soc-list">
							<li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<img src="images/photo-team-3.jpg" class="screen" alt="Team 3" />
						<h3 class="name">Tom Doe</h3>
						<h4 class="occupation">Developer</h4>
						<p>No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
						<ul class="soc-list">
							<li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
							<li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
    
    </div><!-- /#wrap -->

</body>
</html>
